/* PROJECT PORTFOLIO CSS */
/* main */
body {
	background: #FAFAF0;
	color: #292828;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
/* links */
a {
	color: #6AC9C5;
}
a:hover {
	color: #EA8E86;
	text-decoration: underline;
}
/* thumbnails */
.thumbnails img {
	border: 2px solid #6AC9C5;
	margin: 0 10px 10px 0;
}
.thumbnails img:hover {
	border: 2px solid #EA8E86;
	cursor:pointer;
}
/* preview */
.preview img {
	width: 800px;
}
