/* MAIN STYLES CSS */

/* main */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* logo */
.logo {
  position: absolute;
  left: 0.938em;
  top: 0.938em;
}

/* headings */
h1 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 0.375em;
  font-size: 2.500em;
  color: #6ac9c5;
  letter-spacing: 0.200em;
}

h2 {
  text-transform: uppercase;
  color: #ea8e86;
  font-weight: bold;
  font-size: 1.500em;
  letter-spacing: 0.133em;
}

h3 {
  color: #ea8e86;
  text-transform: uppercase;
  font-size: 2.000em;
  letter-spacing: 0.133em;
  font-weight: bold;
}

/* paragraph */
p {
  color: #292828;
  font-size: 1.500em;
}

/* label */
label {
  font-size: 1.500em;
}

/* section */
section {
  background-color: #FAFAF0;
  padding: 5.333em 0;
}

.darker {
  background-color: #FAFAF0;
}

section header {
  text-align: center;
  margin-bottom: 5.333em;
}

/* address */
address {
  margin-bottom: 4.667em;
  padding-top: 2.667em;
}

address span {
  margin-top: 0;
  margin-bottom: 0.667em;
  display: block;
  text-transform: uppercase;
  color: #EA8E86;
}

/* top */
.top {
  text-align: right;
}

/* button */
.btn {
  padding: 1.000em 2.000em;
  border-radius: 0;
  -webkit-transition: border-color 0.4s, color 0.4s;
  -moz-transition: border-color 0.4s, color 0.4s;
  -o-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}

.btn-primary {
  background: #292828;
  border-width: 0.133em;
  color: #6AC9C5;
  border-color: #6AC9C5;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #292828;
  color: #EA8E86;
  border-color: #6AC9C5;
}

/* links */
a {
  color: #6AC9C5;
  text-decoration: none;
  cursor: help;
  font-size: 1.500em;
}

a:hover,
a:focus {
  color: #EA8E86;
  text-decoration: none;
}

/* menu */
.menu-toggle {
  position: fixed;
  right: 1.333em;
  top: 0.333em;
  color: #6AC9C5;
  font-size: 4.000em;
}

.menu {
  width: 22.667em;
  display: block;
  background: #292828;
  height: 100%;
  top: 0;
  right: -23.333em;
  position: fixed;
  z-index: 100;
  text-align: center;
  transition: right 0.4s;
  font-size: 1.500em;
}

.nav-expanded {
  right: 0;
}

.menu .close {
  color: #FAFAF0;
  margin-right: 0.667em;
  margin-top: 0.667em;
}

.menu h3 {
  margin-top: 3.333em;
  margin-bottom: 0.667em;
  text-transform: uppercase;
}

.menu .nav {
  padding: 0;
}

.menu .nav > li > a {
  color: #FAFAF0;
  margin-bottom: 1.333em;
}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus {
  background: transparent;
  color: #6AC9C5;
}

/* jumbotron */
.jumbotron {
  text-align: center;
  position: relative;
  background: url('../img/bg.jpg');
  max-height: 65em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #292828;
  opacity: 0.5;
}

.jumbotron p {
  color: #FAFAF0;
}

.jumbotron .container {
  margin-top: 15%;
}

/* header info */
.header-info {
  position: relative;
  top: 25%;
  -webkit-translate: translateY(-50%);
  -ms-translate: translateY(-50%);
  -o-translate: translateY(-50%);
  -moz-translate: translateY(-50%);
  font-size: 1.5em;
  color: #6AC9C5;
}

/* services */
.service-item {
  text-align: center;
}

.service-item > p {
  text-align: justify;
}

.service-item .icon {
  margin: 0 auto;
  width: 7.333em;
  height: 7.333em;
  display: block;
  margin-bottom: 4.000em;
  background-color: #292828;
}

.service-item .icon {
  border: 0.133em #6AC9C5 solid;
}

.service-item .icon i {
  line-height: 1.750em;
  color: #6AC9C5;
  font-size: 4.000em;
}

.service-item .icon:hover {
  background-color: #292828;
  border: 0.133em #6AC9C5 solid;
}

.service-item .icon:hover i {
  color: #EA8E86;
}

.service-item h3 {
  margin-bottom: 4.000em;
}

/* projects */
.project {
  border: 0.133em solid #292828;
  margin-bottom: 4.667em;
}

.project .project-info h3 {
  margin-top: 3.333em;
}

.project .project-info p {
  padding-right: 30px;
  margin: 2.000em 0;
}

.project .project-info .close {
  position: absolute;
  right: 1.333em;
  top: 0.667em;
  width: 1.333em;
  height: 1.333em;
  color: #292828;
}

.portfolio-item {
  position: relative;
  margin-bottom: 2.000em;
}

.portfolio-item > img {
  border: 0.133em #6AC9C5 solid;
}

.portfolio-item .mask {
  position: absolute;
  top: 0;
  left: 1.000em;
  right: 1.000em;
  transition: all 0.4s;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.portfolio-item .mask i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 6.333em;
  margin-left: -1.667em;
  width: 3.333em;
  height: 3.333em;
  color: #EA8E86;
  background-color: #292828;
  margin-bottom: 0.667em;
  text-align: center;
  line-height: 2.667em;
}

.portfolio-item .mask i {
  border: 0.133em #6AC9C5 solid;
  padding-left: 0.267em;
  padding-top: 0.133em;
}

.portfolio-item:hover .mask {
  opacity: 1;
  color: #EA8E86;
}

/* form */
form {
  margin-bottom: 4.667em;
}

.submit {
  border-radius: 0;
  -webkit-transition: border-color 0.4s, color 0.4s;
  -moz-transition: border-color 0.4s, color 0.4s;
  -o-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
  background: #292828;
  color: #6AC9C5;
  width: 100%;
  text-transform: uppercase;
}

.submit {
  border: 0.133em solid #6AC9C5;
  padding: 1.000em 2.000em;
}

.submit:hover,
.submit:focus {
  background: #292828;
  color: #EA8E86;
  border-color: #6AC9C5;
}

.form-group .submit {
  width: 100%;
  text-transform: uppercase;
}

.form-control {
  padding: 1.133em 1.667em;
  height: auto;
  border-radius: 0;
  background: #292828;
  border: 0.133em solid #6AC9C5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5;
  -moz-transition: all 0.5;
  -o-transition: all 0.5;
  transition: all 0.5s;
}

.form-control:focus {
  border: 0.133em solid #6AC9C5;
  background-color: #292828;
  color: #EA8E86;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* footer */
footer {
  padding: 5.000em 0;
  background-color: #292828;
  color: #FAFAF0;
}

footer a {
  color: #6AC9C5;
}

footer p {
  color: #FAFAF0;
  text-align: center;
}

/* social */
ul.social-icons {
  list-style: none;
  margin-left: 2.667em;
}

ul.social-icons > li {
  border: 0.1333em #6AC9C5 solid;
  background-color: #292828;
  float: left;
  margin-right: 2.667em;
  margin-bottom: 1.333em;
}

ul.social-icons > li > a {
  color: #6AC9C5;
  width: 2.533em;
  height: 2.533em;
  line-height: 2.533em;
  background: #292828;
  display: block;
  text-align: center;
}

ul.social-icons > li > a:hover {
  border: none;
  color: #EA8E86;
  background-color: #292828;
}

/* media queries */
@media screen and (max-width: 614px) and (min-width: 360px) {
  .jumbotron .container {
    padding-top: 35%;
  }

  h1 {
    font-size: 2.000em;
    margin-bottom: 1.333em;
    letter-spacing: 0.067em;
  }

  h2 {
    font-size: 1.250em;
    letter-spacing: 0.067em;
  }

  .btn {
    margin-top: -2.467em;
  }

  .service-item .icon {
    margin-bottom: 1.000em;
  }

  .service-item h3 {
    margin-bottom: 1.000em;
  }
}

@media screen and (max-width: 799px) {
  .jumbotron .container {
    margin-top: 4.5em;
  }
}
