/* MAIN STYLE CSS */

/* main */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
p,
input,
textarea {
    font-size: 1.5em;
}
h2 {
    text-transform: uppercase;
    color: #6ac9c5;
    font-weight: bold;
    letter-spacing: 2px;
}
h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ea8e86;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}
p {
    color: #292828;
}
label {
  font-size: 1em;
}

/* section */
section {
    background-color: #FAFAF0;
    padding: 80px 0;
}
section.darker {
    background-color: #FAFAF0;
}
section header {
    text-align: center;
    margin-bottom: 80px;
}

/* address */
address {
    margin-bottom: 70px;
    padding-top: 40px;
}
address span {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    color: #EA8E86;
}
address a:hover {
  text-decoration: none;
}

/* top */
.top {
  text-align: right;
  font-size: 2em;
}

/* button */
.btn {
    padding: 15px 30px;
    border-radius: 0;
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}
.btn-primary {
    background: #292828;
    border-width: 2px;
    color: #6AC9C5;
    border-color: #6AC9C5;
    font-size: 1em;
    text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #292828;
    color: #EA8E86;
    border-color: #6AC9C5;
}

/* links */
a {
    color: #6AC9C5;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #EA8E86;
    text-decoration: none;
}

/* logo */
.logo {
    position: absolute;
    left: 15px;
    top: 15px;
}

/* menu */
.menu-toggle {
    position: fixed;
    right: 20px;
    top: 5px;
    color: #6AC9C5;
    font-size: 4em;
}
.menu {
    width: 350px;
    display: block;
    background: #292828;
    height: 100%;
    top: 0;
    right: -350px;
    position: fixed;
    z-index: 100;
    text-align: center;
    transition: right 0.4s;
    font-size: 1.5em;
}
.menu.nav-expanded {
    right: 0;
}
.menu .close {
    color: #FAFAF0;
    margin-right: 10px;
    margin-top: 10px;
}
.menu .nav {
    padding: 0;
}
.menu .nav > li > a {
    color: #FAFAF0;
}
.menu .nav > li > a:hover,
.menu .nav > li > a:focus {
    background: transparent;
    color: #6AC9C5;
}

/* jumbotron */
.jumbotron {
    text-align: center;
    position: relative;
    background: url('../img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EA8E86;
}
.jumbotron .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292828;
    opacity: 0.5;
}
.jumbotron p {
    color: #FAFAF0;
}
.jumbotron .container {
    margin-top: 75%;
}
.jumbotron h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 3em;
  color: #ea8e86;
  letter-spacing: 2px;
  font-weight: bold;
}

/* header info */
.header-info {
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 1.5em;
    color: #6AC9C5;
}

/* services */
.service-item {
    text-align: center;
}
.service-item > p {
    text-align: justify;
    font-size: 1.5em;
}
.service-item .icon {
    border: 2px #6AC9C5 solid;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    display: block;
    margin-bottom: 60px;
    background-color: #292828;
}
.service-item .icon i {
    line-height: 110px;
    color: #6AC9C5;
    font-size: 4em;
}
.service-item .icon:hover {
    background-color: #292828;
    border: 2px #6AC9C5 solid;
}
.service-item .icon:hover i {
    color: #EA8E86;
}

/* projects */
.project {
    border: 2px solid #292828;
    margin-bottom: 70px;
}
.project .project-info p {
    padding-right: 30px;
    margin: 30px 0;
}
.project .project-info .close {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
    color: #292828;
}
.portfolio-item {
    position: relative;
    margin-bottom: 30px;
}
.portfolio-item > img {
    border: 2px #6AC9C5 solid;
}
.portfolio-item .mask {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.portfolio-item .mask i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 95px;
    margin-left: -25px;
    padding-left: 4px;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    color: #EA8E86;
    background-color: #292828;
    border: 2px #6AC9C5 solid;
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
}
.portfolio-item:hover .mask {
    opacity: 1;
    color: #EA8E86;
}

/* form */
form {
    margin-bottom: 70px;
}
.submit {
  padding: 15px 30px;
  border-radius: 0;
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
  background: #292828;
  border-width: 2px;
  color: #6AC9C5;
  border-color: #6AC9C5;
  width: 100%;
  text-transform: uppercase;
}
.submit:hover,
.submit:focus {
  background: #292828;
  color: #EA8E86;
  border-color: #6AC9C5;
}
.form-group .submit {
    width: 100%;
    text-transform: uppercase;
}
.form-control {
    padding: 17px 25px;
    font-size: 1em;
    height: auto;
    border-radius: 0;
    background: #292828;
    border: 2px solid #6AC9C5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.5;
    transition: all 0.5s;
}
.form-control:focus {
    border: 2px solid #6AC9C5;
    background-color:#292828;
    color: #EA8E86;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* footer */
footer {
    padding: 75px 0;
    background-color: #292828;
    color: #FAFAF0;
}
footer a {
    color: #6AC9C5;
    text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}
footer p {
    color: #FAFAF0;
    text-align: center;
}

/* social */
ul.social-icons {
    list-style: none;
    margin-left: 40px;
}
ul.social-icons > li {
    border: 2px #6AC9C5 solid;
    background-color: #292828;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}
ul.social-icons > li > a {
    color: #6AC9C5;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #292828;
    display: block;
    text-align: center;
}
ul.social-icons > li > a:hover {
    border: none;
    color: #EA8E86;
    background-color: #292828;
}

/* MEDIA QUERIES */
@media screen and (max-width: 734px) and (min-width: 525px) {
  .jumbotron .container {
      margin-top: 55%;
  }
}
@media screen and (min-width: 735px) {
  .jumbotron .container {
      margin-top: 25%;
  }
}
